.footer {
  margin-top: 20px;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #b6b2b2, $alpha: 0.3);

  .logo {
    height: 30px;
  }

  .right {
    margin-left: 20px;
    font-size: 12px;
    color: rgb(76, 76, 76);
  }
}
